/* Basic Styling */
body, html {
    margin: 0;
    padding: 0;
    color: #2157ca;
    font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-right: 300px;
    align-items: center;
    width: 700px;
}

.image-container img {
    width: 200px; /* Fixed size for desktop */
    height: auto;
}

.about-text {
    margin-left: 20px;
    flex: 1;
}
.citations {
    padding-left: 200px;
    padding-right: 200px;
}
/* Responsive Design */
@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-right: 40px;
        padding-left: 40px
    }

    .image-container img {
        width: 200px; /* Smaller size for mobile */
        height: auto;
    }

    .about-text {
        margin-left: 0;
        margin-top: 20px;
    }

}

#hover-target {
    cursor: pointer;
}

img {
    border-radius: 25%
}